body{
  overflow-x:auto;
  scroll-behavior: smooth;
}
.bg-img{
  background-image:url('Images/rose.jpeg');
   background-size:cover;
  background-repeat:no-repeat;
  height:100vh; 
}
.col-md-6{
  padding:5rem;
}
.overlay{
  background-color:rgba(0, 0, 0, 0.26);
  color:black;
  font-family: ravie;
  font-size: 20px;
  height: 100vh;
}
/* .navbar-toggler-icon{
  background-color:black;
} */